body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;

}
.container{
    text-align: center;
    margin-top: 100px;
}
h1 {
    color: green;
}

button{
    display: block;
    margin: 15px auto;
    padding: 12px 20px;
    width: 220px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
} 
a{
    text-decoration: none;
}
.crop-container{
    width: 500px;
    text-align: center;
    margin: 50px auto;
}
select{
    padding: 10px;
    width: 250px;
}

#result{
    width: 350px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    display: none;
}
#result p{
    margin: 12px 0;
}
#result{
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
input{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}
.card{
    background-color: white;
    width: 250px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
nav{
    text-align: center;
    padding: 15px;
}

nav a{
    text-decoration: none;
    margin: 0 15px;
    color: green;
    font-weight: bold;
}

button i{
    color: green;
    margin-right: 10px;
}
.add-btn{
    display: block;
    margin: 15px auto;
    padding: 12px 20px;
    width: 220px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
.delete-btn{
    margin-left: 15px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.edit-button{
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

.edit-button:hover{
    background-color: #1976D2;
}