body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;

}
.container{
    text-align: center;
    margin-top: 100px;
}
h1 {
    color: green;
}

button{
    display: block;
    margin: 15px auto;
    padding: 12px 20px;
    width: 220px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
a{
    text-decoration: none;
}
.crop-container{
    width: 500px;
    text-align: center;
    margin: 50px auto;
}
select{
    padding: 10px;
    width: 250px;
}

#result{
    width: 350px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    display: none;
}
#result p{
    margin: 12px 0;
}
#result{
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
input{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}